language: python
python:
  - "2.7"
  - "2.6"
# Pre-install step (create the wheel since we want to check if it is "Pypi ready")
addons:
  apt_packages:
    - environment-modules
before_install: "python setup.py bdist_wheel"
# Install step (install the wheel that is in dist)
install: "pip install dist/*"
script:
  - "resif --version"
  - "resif init --srcpath ./.resif/src"
  - "resif bootstrap --srcpath ./.resif/src --apps-root ./bootstrap"
  - "echo core: >> test.yaml && echo '  - bzip2-1.0.6.eb' >> test.yaml"
  - "resif cleaninstall --srcpath ./.resif/src --apps-root ./bootstrap --swsets-config test.yaml core"
matrix:
  fast_finish: true
